{% extends layout %}
{% block content %}
	{%assign section = "services"%}

	{% include 'header' %} 

	{% include 'navigation' %}

	{% include 'txtPre' %}

	<div class="container sectList bodyColor">
		{% for itemList in data[section].arrowList %}
			{%include 'arrowList' %}
		{% endfor %}

		{%include 'grafic' %}
	</div>

	<div class="title__widget">
		<h3 class="title__widgetTitl">
			Pricing tables
		</h3>
	</div>
	<div class="container aboutWidget">
	<div class="widgets clearfix">
		{% for item in data[section].widgBox %}

		<div class="widget__total">
			<div class="widget__button btnTop j-serviceBtn">
				<a class="button serviceBtn btnTop" href="#">
					{{item.buttonWidgTop}}
				</a>
			</div>
			<div class="widget__singlePart">
				<div class="widget__contentServ">
					<p class="widget__serviceTxt">
						{{item.txt}}
					</p>
					<p class="widget__serviceTxt">
						{{item.txt}}
					</p>
					<p class="widget__serviceTxt">
						{{item.txt}}
					</p>
					<p class="widget__serviceTxt">
						{{item.txt}}
					</p>		
				</div>
			</div>
			<div class="widget__button j-serviceBtn">
				<a class="button serviceBtn" href="#">
					{{item.buttonWidg}}
				</a>
			</div>
		</div>

		{% endfor %}
	</div>
</div>

	{% include 'txtPost' %}

	{% include 'clients'%}

	{% include 'footer' %}

{% endblock %}